{% extends 'stock_app/main.html' %}
{% load static %}
{% load custom_filter %}
{% block content %}
<div class="container mt-5">
  <div class="card shadow rounded-4 p-4">
    <h1 class="mb-3 text-center text-primary fw-bold">Welcome to Live Crypto Quotes</h1>
    <p class="text-center mb-4">Track your live crypto quotes and manage your farm with real-time insights and analytics.</p>

    <form method="POST" action="{% url "stockTracker" %}">
      {% csrf_token %}
      <div class="mb-4">
        <label for="stockSelect" class="form-label fs-5 fw-semibold">Select the cryptos you want to see</label>
        <select id="stockSelect" name="symbols" class="form-select form-select-lg" multiple aria-label="Multiple select example" style="height: 250px;">
          {% for symbol in symbols %}
          <option value="{{ symbol }}">{{ symbol|remove }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success px-4 py-2 fw-semibold rounded-pill shadow">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
